<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Uma nova denúncia foi registrada no sistema.</p>
    <p>ID: {{id}}</p>
    <p>Vítima: {{victim}}</p>
    <p>Acesse a plataforma para mais detalhes.</p>
    <p>
        Obrigado!<br />
        <strong>Equipe Stagerun</strong>
    </p>
</div>
